@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css");


.inner {
  width: 1440px;
  margin: 0 auto;
}

body {
  padding-top:100px;
  transition: background 0.5s, color 0.5s;
}

body.light{
  background:#f7f7f5;
  color:#222;
}

body.dark{
  background:#1c1c1c;
  color:#fff;
}

body.mix{
  background:#CB0404;
   color:#081cd3;
   background:#081cd3;
   color:#CB0404;
}

.util {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0;
}
/* 컬러버튼 */
.color{
  display:flex;
  gap:8px;
}
.color button{
  width:15px;
  height:15px;
  border-radius:50%;
  border:1px solid #333;
  cursor:pointer;
  padding:0;
}
/* white */
.color button[data-theme="light"]{
  background:#f7f7f5;
}
/* black */
.color button[data-theme="dark"]{
  background:#1c1c1c;
}
/* mix */
.color button[data-theme="mix"]{
  background:linear-gradient(90deg,#CB0404 50%,#081cd3 50%);
}


/* 헤더 */
.gnb {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  font-size: 20px;
  color: #222222;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.lang {
  position: relative;
  color: #000;
}

.lang.active {
   color: #000000;
}

.lang.active>a i {
  transform: rotate(180deg);
}

.lang ul {
  display: none;
  width: 100%;
  position: absolute;
  top: 47.4px;
  left: 0;
  /*  background: #000; */
  color: #ccc;
  text-align: center;
  z-index: 200;
}

.lang ul li {
  padding: 10px;
}

.lang ul li:hover {
  color: gold;
  text-decoration: underline;
}