@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/sunghyunzz/eulyoo1945/eulyoo1945.css");

#heritage-detail {
  padding: 200px 0 120px;
}

#heritage-detail .inner {
  max-width: 1400px;
  margin: 0 auto;
}

/* 상단 타이틀 */
.title-area {
  text-align: center;
  margin: 40px 0 70px;
}


.title-area h3 {
  font-size: 52px;
  font-weight: 600;
  color: #222;
  margin-bottom: 35px;
}

.title-area p {
  font-size: 16px;
  padding-left: 20px;

}

/* 공통 박스 */
.box {
  padding-top: 22px;
}

.box h3 {
  display: inline-block;
  padding: 10px 20px;
  font-family: "pretendard";
  font-weight: 500;
  font-size: 16px;
  color: #2c2c2c;
  border: 1px solid #e5e5e5;
  border-radius: 30px;
  background: #f5f3f1;
  margin-bottom: 20px;
  box-shadow: 0 3px 0 #082a55;
}

.box p,
.box ul {
  margin: 0;
  padding-left: 20px;
}

.box p,
.box li {
  font-size: 16px;
  line-height: 1.9;
  color: #555;
}

/* 소개 / 역사 */
.detail-top {
  display: flex;
  gap: 48px;
  margin-bottom: 56px;
  align-items: flex-start;
}

.detail-kr-category {
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 25px;
  background: #082a55;
  color: #fff;
  display: inline-block;
  align-items: center;
  margin-bottom: 20px;
}


.detail-top .intro,
.detail-top .history {
  width: calc((100% - 48px) / 2);
}

/* 하단 */
.detail-row.bot {
  display: flex;
  gap: 48px;
  align-items: flex-start;
}

.gallery,
.etc {
  width: calc((100% - 48px) / 2);
}

/* 갤러리 */
.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.gallery-grid img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

/* 우측 영역 */
.etc {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 50px;
}

#experience {
  display: flex;
  gap: 20px;
}

#experience li {
  margin-bottom: 8px;
}

/* 버튼 */
.btn-area {
  display: flex;
  justify-content: right;
  padding-right: 73px;
}

.return {
  padding: 15px 32px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #2c2c2c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.return:hover {
  background: #7a5f3b;
}

/* 다크 */
.dark .box p,
.dark .box li,
.dark .title-area h3 {
  color: #fff;
}